---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thanks! - Code Coral">
	<main class="thank-you">
		<div class="container text-center">
			<h1>Yay! You did it!</h1>
			<p>
				How exciting! I look forward to connecting with you.
			</p>
			<p>
				Talk to you soon. <br />
				Have a great day!<br />
				Chris
			</p>
		</div>
	</main>
</Layout>

<style>
	main.thank-you {
		min-height: 600px;
	}
</style>
