<div id="ads">
  <div class="container">
    <a href="https://www.cloudways.com/en/?id=2039910&amp;a_bid=5c89ffc4" target="_top"><img src="//www.cloudways.com/affiliate/accounts/default1/banners/5c89ffc4.png" alt="" title="" width="728" height="90" /></a><img style="border:0" src="https://www.cloudways.com/affiliate/scripts/imp.php?id=2039910&amp;a_bid=5c89ffc4" width="1" height="1" alt="" />
  </div>
</div>

<style>
	#ads .container {
		text-align: center;
    margin-bottom: 30px;

    img:first-child {
      width: 100%;
      height: auto;
      max-width: 728px;
    }
	}
</style>