<div id="clients">
  <div class="container">
    <h2>A Few More Clients...</h2>
    <p>Thankful to call these non-profits and businesses my clients. Some are current and some are a blast from the past.</p>
    <ul>
      <li><a href="https://calregional.com" target="_blank" rel="noopener">CalRegional</a></li>
      <li><a href="https://cappatrol.com" target="_blank" rel="noopener">Cap Patrol</a></li>
      <li><a href="https://creatorsbrush.com" target="_blank" rel="noopener">Creator's Brush</a></li>
      <li><a href="https://darwinproject.org" target="_blank" rel="noopener">Darwin Project</a></li>
      <li><a href="https://designtomarket.com" target="_blank" rel="noopener">Design To Market</a></li>
      <li><a href="https://greenwoodch.com/" target="_blank" rel="noopener">Greenwood Cemetery</a></li>
      <li><a href="https://highlinecanal.com" target="_blank" rel="noopener">High Line Canal</a></li>
      <li><a href="https://summerscamper5k.com" target="_blank" rel="noopener">HLCC Summer Scamper 5k</a></li>
      <li><a href="https://rottweilerrescuefoundation.org" target="_blank" rel="noopener">Rottweiler Rescue Foundation</a></li>
      <li><a href="https://rype.tv" target="_blank" rel="noopener">Rype.tv</a></li>
      <li><a href="https://sciarappaconstruction.com" target="_blank" rel="noopener">Sciarappa Construction</a></li>
      <li><a href="https://skyviewestates.com" target="_blank" rel="noopener">Skyview Estates</a></li>
      <li><a href="https://spectraconsultingpartners.com" target="_blank" rel="noopener">Spectra Consulting Partners</a></li>
      <li><a href="https://torchprep.com" target="_blank" rel="noopener">Torchprep</a></li>
      <li><a href="https://traumafreeworld.org" target="_blank" rel="noopener">Trauma Free World</a></li>
      <li><a href="https://upsourcedaccounting.com" target="_blank" rel="noopener">Upsourced Accounting</a></li>
      <li><a href="https://wgarnett.com" target="_blank" rel="noopener">Wes Garnett</a></li>
    </ul>

    <div class="text-center">
      <a href="#contact" class="btn"><span>Won't You Be My Client?</span></a>
    </div>
  </div>
</div>

<style>
	#clients {
		margin-bottom: 110px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--orange-opaque);
    border-top: 1px solid var(--charcoal);
    border-bottom: 1px solid var(--charcoal);
	}

	#clients h2 {
		margin-bottom: 25px;
	}

  #clients p {
		margin-bottom: 40px;
	}

  #clients ul {
		column-count: 1;
    column-gap: 0;
    padding-left: 30px;
    list-style: circle;
    line-height: 1.65;
    margin-bottom: 45px;
	}

  @media (width >= 640px) {
    #clients ul {
      column-count: 2;
      column-gap: 100px;
    }
  }

  @media (width >= 900px) {
    #clients ul {
      column-count: 3;
      column-gap: 160px;
    }
  }

  #clients ul li {
		font-size: 20px;
    font-weight: var(--weight-medium);
	}

  #clients ul li a {
		color: var(--orange);
    text-decoration: none;
	}

  #clients ul li a:hover {
		text-decoration: underline;
	}
</style>