<footer>
  <div class="container">
    <p>© Copyright {new Date().getFullYear()} - Code Coral. All Rights Reserved. - <a href="/privacy-policy/">Privacy Policy</a></p>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    text-align: center;
    background-color: var(--charcoal);
    padding: 20px;
  }

  footer p {
    color: var(--mint);
    margin: 0;
    font-size: 16px;
  }

  footer p a {
    color: var(--white);
    text-decoration: underline;
  }
</style>